<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>Hello! <%= title %></h1>
    <p>Your space to write, share, and explore blogs.</p>
    <a href="/login" class="btn">Login</a>
    <a href="/signup" class="btn">Sign Up</a>
  </header>
</body>
</html>
